ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.label{
    display: block;
    width:80px;
    text-align: center;
}
.percentage{
    display: block;
    width:80px;
    text-align: center;
}


.statList{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{text-align: center;}

